@model List<Autolote.BL.Productos>
@{
    ViewBag.Title = "Camion";
}

<div id="features-wrapper">
    <div class="container">
        <div class="col-4 col-12-medium">
            <h2>Camiones</h2>
        </div>
        <div class="row">

            @foreach (var producto in Model
                    .Where(r => r.Categoria.Descripcion == "Camion")

                    )
            {
                <div class="col-3 col-12-medium">
                    <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2 a>@producto.Marca</h2>
                                <h3>@producto.Modelo (@producto.Año)</h3>
                                <p>Lps. @producto.Precio.ToString("#,#")</p>
                            </header>
                        </div>
                    </section>
                </div>
            }

        </div>
    </div>
</div>
