@model List<Autolote.BL.Productos>
@{
    ViewBag.Title = "Inicio";
}
 <div class="container">
 <section class="baner">
   <div class="baner-content">
       
       <h1 style="color:white;"> Bienvenido a Autolote Honduras</h1>
        <a href="/Autos">Ver autos</a>
    </div>
</section>
     </div>
<script src="~js/jquery-3.1.0.min.js"></script>
<script src="~js/bootstrap.min.js"></script>
<script src="~js/main.js"></script>
 
<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="col-4 col-12-medium">
            <h2>Añadidos recientemente</h2>
        </div>
        <div class="row">
            
                @foreach (var producto in Model
                    .OrderByDescending(r => r.Id)
                    .Take(6)
                    )
                {
                    <div class="col-4 col-12-medium">
                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="@(ViewBag.adminWebsiteUrl + producto.UrlImagen)" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2 a>@producto.Marca</h2>
                                    <h3>@producto.Modelo (@producto.Año)</h3>  
                                    <p>Lps. @producto.Precio.ToString("#,#")</p>
                                </header>
                            </div>
                        </section>
                    </div>
                }

        </div>
    </div>
</div>



