@model Autolote.BL.Productos

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles</h2>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.UrlImagen)
        </dt>

        <dd>
            <img src="@Model.UrlImagen" alt="@Model.Marca" style="width:200px; height:auto;"/>
            @if (@Model.UrlImagen2 != null)
            {
                <img src="@Model.UrlImagen2" alt="@Model.Marca" style="width:200px; height:auto;" />
            }
            @if (@Model.UrlImagen3 != null)
            {
                <img src="@Model.UrlImagen3" alt="@Model.Marca" style="width:200px; height:auto;" />
            }  
        </dd>

        <dd>
            @if (@Model.UrlImagen4 != null)
            {
                <img src="@Model.UrlImagen4" alt="@Model.Marca" style="width:200px; height:auto;" />
            }
            @if (@Model.UrlImagen5 != null) 
            {
                <img src="@Model.UrlImagen5" alt="@Model.Marca" style="width:200px; height:auto;" />
            }
            
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
